EXTRACTOR='docling'
EXPORT_FORMAT='markdown'
SOURCE_DATA_PATH='data'
ENABLE_OCR=False
ENABLE_TABLES=False

DATABASE_HOST="postgres"
DATABASE_NAME="agentic-rag"
DATABASE_USER="postgres"
DATABASE_PASSWORD="admin"
DATABASE_TABle="vectors"
DATABASE_PORT=5432
DIM=768

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_API_BASE=http://host.docker.internal:11434

EMBEDDING_LLM="nomic-embed-text:v1.5"
LLM="gemma3:4b"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
CONVERSATION_HISTORY_LIMIT=5
REDIS_PORT=6379

PHOENIX_COLLECTOR_ENDPOINT=http://pheonix:6006
PHOENIX_PROJECT_NAME=default
OPENAI_API_KEY=""